body{
    background-image: url("images/e1.jpg");
    background-size: cover;
}
.about p{
    color: white;
    font-size: 18px;
}
.about h2{
    color: white;
}

ul li{
    color: white;
}
.manu ul{
    text-align: center;
}
.manu ul li{
    list-style: none;
}
.navbar {
    width: 1200px;
    height: 80px;
    margin: auto;

}
.manu {
    width: 400px;
    float: left;
    height: 70px;

}

.manu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.manu ul{
    margin-left: -30rem;

}

.manu ul li a{
    font-size: 2rem;
}
ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    
    font-weight: bold;
    transition: .4s ease-in-out;
    margin-left: -25px;

}

ul li a:hover {
    color: orange;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.manu ul{
    text-align: center;
}
.manu ul li{
    list-style: none;
}
.navbar {
    width: 1200px;
    height: 80px;
    margin: auto;

}
.manu {
    width: 400px;
    float: left;
    height: 70px;

}

.manu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    transition: .4s ease-in-out;
    margin-left: 50px;
    text-align: center;
}

ul li a:hover {
    color: rgb(255, 98, 0);
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}